body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;

}
.titulo{
     
  position: center;
  

  color: #753c3c;
  letter-spacing: 5px;
  font-size: 40px;
  overflow: hidden;
 
  
}
.text{
    background: transparent;  
  position: relative;
  display: inline-block;

  color: #fff;
  letter-spacing: 5px;
  font-size: 20px;
  overflow: hidden;
 
  
}
 
/* vertical */
@media (orientation: portrait) {
    .botones{
       
        display: grid;
        place-items: center;
        justify-content: center;
        align-items: center;
        height: 80vh;     
       
    }
    
    .boton1{
        background: transparent;  
      position: relative;
      display: inline-block;
    
      color: #fff;
      letter-spacing: 5px;
      font-size: 15px;
      overflow: hidden;
      transition: 0.2s; 
      
    }

    .boton1:hover{
        background: blueviolet;
        box-shadow: 0 0 10px blueviolet, 0 0 40px
        blueviolet, 0 0 80px blueviolet;
         
    }

    .boton2{
        background: transparent;  
      position: relative;
      display: inline-block;
    
      color: #fff;
      letter-spacing: 5px;
      font-size: 15px;
      overflow: hidden;
      transition: 0.2s; 
      
    }

    .boton2:hover{
        background: blueviolet;
        box-shadow: 0 0 10px blueviolet, 0 0 40px
        blueviolet, 0 0 80px blueviolet;
         
    }

    .boton3{
        background: transparent;  
      position: relative;
      display: inline-block;
    
      color: #fff;
      letter-spacing: 5px;
      font-size: 15px;
      overflow: hidden;
      transition: 0.2s; 
      
    }

    .boton3:hover{
        background: blueviolet;
        box-shadow: 0 0 10px blueviolet, 0 0 40px
        blueviolet, 0 0 80px blueviolet;
         
    }
   
        .container{
            display: grid;
            grid-template-rows:8% 70% auto;
            
            background: url(./ia.png) center;
            background-size: cover;
            height:  100vh;
            text-align: center; 
        }
        .one{
            display: grid;
            grid-template-columns:20% 80% auto;
            height: 80vh;  
        }
        .left{
       
            display: grid;
            place-items: center;
            text-align: center;
         
        }
        .mode{ 
            grid-template-rows:80% 2% auto;
            display: grid;
            
            place-items: center;  
            transform: scale(1);
        }
        .btn{
            grid-row: 2;
            display: grid;
            
            place-items: center;  
              
        }

        .boton4{
            background: transparent;  
          position: relative;
          display: inline-block;
        
          color: #fff;
          letter-spacing: 5px;
          font-size: 15px;
          overflow: hidden;
          transition: 0.2s; 
          
        }

        .boton4:hover{
            background: blueviolet;
            box-shadow: 0 0 10px blueviolet, 0 0 40px
            blueviolet, 0 0 80px blueviolet;
            transition-delay: 1s;
        }
    }
     

/* horizontal */
@media (orientation: landscape) {

    .botones{
        margin: 0;
        padding: 0;
        display:grid;
        justify-content: center;
        place-items: center;
        height: 80vh;
        
            
    }
  
    .boton1{
        background: transparent;  
      position: relative;
      display: inline-block;
    
      color: #fff;
      letter-spacing: 5px;
      font-size: 15px;
      overflow: hidden;
      transition: 0.2s; 
      
    }

    .boton1:hover{
        background: blueviolet;
        box-shadow: 0 0 10px blueviolet, 0 0 40px
        blueviolet, 0 0 80px blueviolet;
         
    }

    .boton2{
        background: transparent;  
      position: relative;
      display: inline-block;
    
      color: #fff;
      letter-spacing: 5px;
      font-size: 15px;
      overflow: hidden;
      transition: 0.2s; 
      
    }

    .boton2:hover{
        background: blueviolet;
        box-shadow: 0 0 10px blueviolet, 0 0 40px
        blueviolet, 0 0 80px blueviolet;
         
    }

    .boton3{
        background: transparent;  
      position: relative;
      display: inline-block;
    
      color: #fff;
      letter-spacing: 5px;
      font-size: 15px;
      overflow: hidden;
      transition: 0.2s; 
      
    }

    .boton3:hover{
        background: blueviolet;
        box-shadow: 0 0 10px blueviolet, 0 0 40px
        blueviolet, 0 0 80px blueviolet;
         
    }
 
        .container{
            display: grid;
            grid-template-rows:15% 50% auto;
            
            background: url(./ia.png
            ) center;
            background-size: cover;
            /* grid-gap: 10px;
            grid-auto-rows: minmax(100px, auto); */
            height:  100vh;
            /* place-items: center; */
        text-align: center; 
        }
        .one{
            display: grid;
            grid-template-columns:30% 70% auto;
            height: 80vh;  
        }
        .left{
        display: grid;
        place-items: center;
        text-align: center;
        }
        .mode{ 
            grid-template-rows:85% 10% auto;
            display: grid;
            
            place-items: center;  
            transform: scale(1);
        }
        .btn{
            grid-row: 2;
            display: grid;
            
            place-items: center;  
            
        }

        .boton4{
            background: transparent;  
          position: relative;
          display: inline-block;
        
          color: #fff;
          letter-spacing: 5px;
          font-size: 15px;
          overflow: hidden;
          transition: 0.2s; 
          
        }

        .boton4:hover{
            background: blueviolet;
            box-shadow: 0 0 10px blueviolet, 0 0 40px
            blueviolet, 0 0 80px blueviolet;
            transition-delay: 1s;
        }
        
       
    }

   



