body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;

}

 
/* vertical */
@media (orientation: portrait) {
    .botones{
       
        display: grid;
        place-items: center;
        justify-content: center;
        align-items: center;
        height: 80vh;     
    }
    
    .boton1{
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      color: #fff;
      letter-spacing: 4px;
      font-size: 24px;
      text-decoration: none;
      overflow: hidden;
      transition: 0.2s;   
      
    }
   
        .container{
            display: grid;
            grid-template-rows:8% 70% auto;
            
            background: url(./fol.jpg) center;
            background-size: cover;
            /* grid-gap: 10px;
            grid-auto-rows: minmax(100px, auto); */
            height:  100vh;
            /* place-items: center; */
            text-align: center; 
        }
        .one{
            display: grid;
            grid-template-columns:20% 80% auto;
            height: 80vh;  
        }
        .left{
       
         
         
        }
        .mode{   
            display: grid;
            place-items: center; 
            transform: scale(1);
        }
    }
     

/* horizontal */
@media (orientation: landscape) {

    .botones{
        margin: 0;
        padding: 0;
        display: grid;
        place-items: center;
        
        
        height: 80vh;     
    }
    
    .boton1{
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      color: #fff;
      letter-spacing: 4px;
      font-size: 24px;
      text-decoration: none;
      overflow: hidden;
      transition: 0.2s;   
      
    }
    
        .container{
            display: grid;
            grid-template-rows:15% 50% auto;
            
            background: url(./fol.jpg) center;
            background-size: cover;
            /* grid-gap: 10px;
            grid-auto-rows: minmax(100px, auto); */
            height:  100vh;
            /* place-items: center; */
        text-align: center; 
        }
        .one{
            display: grid;
            grid-template-columns:30% 70% auto;
            height: 80vh;  
        }
        .left{
        display: grid;
        place-items: center;
        text-align: center;
        }
        .mode{ 
            display: grid;
            place-items: center;  
            transform: scale(1);
        }
    }

   



